:root {
  --main-bg-color: #f0f0f0;
  --main-bg-light: #fff;
  --main-text-color: #333;
  --main-text-light: #ccc;
  --primary-color: #007bff;
  --secondary-color: #003670;
  --light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  background-color: var(--primary-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-color);
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--secondary-color);
}

.nav-hide {
  display: none;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.hero {
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--light-color);
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  margin-bottom: 20px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.hero .btn {
  display: block;
  padding: 15px;
  margin: 20px auto 0;
  max-width: 400px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-decoration: none;
  border-radius: 8px;
  animation: bounce 2s infinite;
}

.about,
.services,
.portfolio,
.contact {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.about {
  border-bottom: 1px solid var(--main-text-light);
}

.about div {
  max-width: 400px;
  margin: 0 auto 10px auto;
}

.about div img {
  width: 100%;
  border-radius: 8px;
}

.about p {
  margin: 10px auto;
  max-width: 600px;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-item {
  flex: 1;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-light);
  transition: all 0.3s ease;
}

.service-item:hover {
  transform: scale(1.03);
}

.service-icon {
  font-size: 5rem;
}

.service-item h3 {
  margin-bottom: 10px;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.portfolio .portfolio-container .portfolio-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.portfolio .portfolio-container .portfolio-item img:hover {
  transform: scale(1.03);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.contact form label {
  text-align: left;
}

.contact form input,
.contact form textarea {
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--main-text-light);
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  border-color: var(--main-text-color);
}

.contact form button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact form button:hover {
  background-color: var(--main-text-color);
  transform: scale(1.03);
}

@media screen and (min-width: 700px) {
  .nav-hide {
    display: block;
  }

  .services-container {
    flex-direction: row;
  }

  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
